* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}


html {
    background-color: #0c0c0c;
    font-size: 62.5%;
    /* = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mohave', sans-serif; 
}

a {
    text-decoration: none;
}

nav {
    font-size: 15px;
}

ul {
    list-style: none;
}


