.container {
    width: 100%;
    max-width: 100%;;
    margin: 0 auto;
    padding: 0 60px;
}


header {
    top: 0;
    width: 100%;
    height: 7.2rem;
    display: flex;
    /*background-color: #000407e6;
    */backdrop-filter: blur(10px);
    z-index: 2023;
    border: solid #f8fe61;
    border-width: 0px 0px 1px 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 2.4rem;
}

header nav a {
    font-size: 1.6rem;
    color: #f0f80a;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.about img {
    width: 200px;
    height: 220px;
    margin-top: 180px;
    margin-left: 390px;
    margin-right: 300px;
    z-index: -1;
    position: absolute;
}

.about h1 {
    color:#ffffff; 
    text-align:left;
    vertical-align:text-top;
    font-size:96px;
    font-family:Roboto Condensed;
    left:95px;
    top:304px;
    width:625px;
    height:208px;
    position:absolute;
    line-height:100px;
}

.about p {
    color:#ffffff; 
    font-size: 2.6rem;
    font-family:Roboto Condensed;
    margin-left: 100px;
    margin-top: 175px;
    width: 625px;
    height: 208px;
    position:absolute;
    line-height:50px;

}





















